<%= form_with(model: class_seat, local: true) do |form| %>
  <% if class_seat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(class_seat.errors.count, "error") %> prohibited this class_seat from being saved:</h2>

      <ul>
      <% class_seat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :class_name %>
    <%= form.text_field :class_name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :food_service %>
    <%= form.check_box :food_service %>
  </div>

  <div class="field">
    <%= form.label :Seat_type %>
    <%= form.text_field :Seat_type %>
  </div>

  <div class="field">
    <%= form.label :leg_room %>
    <%= form.text_field :leg_room %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
